.clock-todo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12%;
}

.clock {
  cursor: default;
  font-size: 16rem;
  font-weight: 500;
  text-align: center;
  padding: 0;
  margin: 0;
}
