* {
  font-family: 'Open Sans', sans-serif;
}

.quote {
  font-weight: bold;
  font-size: 2rem;
  height: 10px;
  width: auto;
  padding-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: content-box;
}

.buttons {
  margin-left: 15px;
}

.buttons > button {
  font-weight: bold;
  font-size: 10px;
}

.wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding-top: 43%;
  padding-left: 3%;
}