.weather{
    text-align: right;
    vertical-align: top;
}

.weather02{
    font-size: 5rem;
}
.weather-degree{
    font-size: 5rem;
 }

.weather01{
    font-size: 3.5rem;
}
.weather03{
    font-size: 2.5rem;
}
