<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hanghae99 ToyProject</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="김미리, 김원호, 두성한, 배근아, 신필재" />
    <meta name="description" content="항해99 토이 프로젝트 - Momentum" />
    <!-- CSS ------------------------------------------------------------------- -->
    <link rel="stylesheet" href="../static/style.css" />
    <!-- JQEURY ---------------------------------------------------------------- -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JAVASCRIPT ------------------------------------------------------------ -->
    <script defer src="../static/app.js"></script>
  </head>
  <body>
    <!-- DB TEST --------------------------------------------------------------- -->
    <div>
      <div>
        <input class="dbtest-input" type="text" />
        <button class="dbtest-btn" type="submit" onclick="dbTestPost()">
          SUBMIT
        </button>
      </div>
      <div class="dbtest-list">
        <span class="dbtest-text">DB TEST 텍스트 확인</span>
      </div>
    </div>
    <!-- BACKGROUND ------------------------------------------------------------ -->
    <h2>BACKGROUND</h2>
    <h1 class="a11y-hidden">Momentum</h1>
    <!-- WEATHER --------------------------------------------------------------- -->
    <div>
      <h2>WEATHER</h2>
    </div>
    <!-- CLOCK ----------------------------------------------------------------- -->
    <div>
      <h2>CLOCK</h2>
    </div>
    <!-- TODOLIST -------------------------------------------------------------- -->
    <div>
      <h2>TODOLIST</h2>
    </div>
    <!-- QUOTE ----------------------------------------------------------------- -->
    <div class="wrap">

        <span id="quote" class="quote"></span>

        <span id="buttons" class="buttons">
            <input onclick="count('plus')" id="like_button" type="button" class="btn btn-outline-primary" value="Like 👍">
            <input onclick="count('minus')" id="dislike_button" type="button" class="btn btn-outline-danger" value="Dislike 👎">
        </span>

        <div class="like_number" id="like_number">  </div>
        <div class="dislike_number" id="dislike_number">  </div>

    </div>

  </body>
</html>
